/* generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}


/* utilities */

.display-none {
    display: none;
}

.text-center {
    text-align: center;
}

.icon {
    width: 25px;
    margin-right: 5px;
}

.font-size-06 {
    font-size: 0.6rem;
}

.font-size-07 {
    font-size: 0.7rem;
}

.font-size-08 {
    font-size: 0.8rem;
}

.pad-left-15 {
    padding-left: 15px;
}

.marg-bot-12 {
    margin-bottom: 12px;
}

.marg-top-25 {
    margin-top: 25px;
}

.white {
    color: #fff;
    font-weight: bold;
}

.grey {
    color: #707070;
    font-weight: bold;
}

/* flex */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}


/* contents */

/* ******************************************* desktop 1200px */

body {
    height: 100vh;
}


/* aside section */

aside {
    background-color: #000000;
    width: 195px;
    padding: 20px 0px 10px 0px;
    flex-shrink: 0;
}

aside div {
    width: 130px;
}

.spot-logo {
    margin-bottom: 20px;
}

.green-left {
    box-shadow: 3px 0 0 #adff2f inset;
}

#plus-button div {
    background-color: #a3a3a3;
    color: black;
    width: 35px;
    height: 35px;
}

#bottom-aside-column .icon {
    width: 15px;
}

#bottom-aside-column hr {
    width: 165px;
    margin: 0 15px;
    height: 1px;
    background-color: #a3a3a3;
    border: none;
}

#user-profile {
    margin-top: 10px;
}

#bottom-aside-column #user-profile .icon {
    width: 20px;
    margin-right: 10px;
}

#user-profile div img {
    background-color: #808080;
    border-radius: 50%;
}


/* main section */

main {
    background-color: #141922;
    overflow-y: auto;
}

/* top header section */

#top-header {
    height: 80px;
    background-color: #000000;
    opacity: 50%;
    position: fixed;
    width: 100%;
}

#upgrade-button {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    width: 200px;
    padding: 10px 25px;
    font-size: 0.7rem;
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 10;
}

/* music section */

#music-section {
    padding-top: 100px;
    height: 1vh;
}

#music-menu {
    column-gap: 15px;
}

#music-menu div {
    padding-bottom: 3px;
}

#music-menu div:first-child {
    box-shadow: 0 -2px 0 #adff2f inset;
}

.music-container {
    padding: 40px 50px 0px 15px;
}

.music-container2 {
    padding: 40px 50px 0px 15px;
}

.music-container h3 {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.music-container2 h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.music-container2 p {
    margin-bottom: 25px;
}

.card-container {
    column-gap: 12px;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 10px);
}

.card h4 {
    margin: 10px 0px 8px;
    font-size: 0.9rem;
}

.circle-border {
    border-radius: 50%;
}


/* footer section */

footer {
    background-color: #282828;
    height: 85px;
}

.foot-opt-container {
    padding: 10px 10px;
    height: 100%;
}

.left-options img {
    max-width: 40px;
    margin-right: 10px;
}

.left-icon-buttons {
    column-gap: 10px;
    margin-left: 25px;
}

.left-icon-buttons i {
    color: #686868;
}

.center-options {
    height: 100%;
}

.center-icon-buttons {
    width: 165px;
    padding-bottom: 12px;
    padding-top: 5px;
}

#track-bar {
    margin: 0 5%;
    width: 400px;
    height: 3px;
    border-radius: 30px;
    background-color: #5a5a5a;
}

#track-bar div {
    width: 70px;
    height: 3px;
    border-radius: 30px;
    background-color: #c1c1c1;
}

.right-options {
    column-gap: 15px;
}

#volume-bar {
    width: 90px;
    height: 3px;
    border-radius: 30px;
    background-color: #5a5a5a;
}

#volume-bar div {
    width: 20px;
    height: 3px;
    border-radius: 30px;
    background-color: #c1c1c1;
}


/* debug */